[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

numpy = "*"
pandas = "*"
scipy = "*"
matplotlib = "*"
sklearn = "*"
six = "*"
pytest = "*"
pytest-cov = "*"
deepdish = "==0.3.6"
python-dateutil = "*"


[dev-packages]



[requires]

python_version = "3.6"
